.App {
  text-align: center;
}

.btnContainer {
  height: 40px;
  margin-bottom: 10px;
}

.btn {
  margin: 10px auto;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #27dd21;
  text-align: center;
  display: block;
  color: #fff;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  min-width: 75px;
}

.block {
  height: 100px;
}
